manifest {
  description = 'sv-calling-nf'
  author = 'Lukas Leiendecker'
}


profiles {

	    standard {
        	process.executor = 'local'
          singularity.enabled = false
          docker.enabled = true
          process.maxForks = 3
        }

      sge {
			   process.executor = 'sge'
			   process.penv = 'smp'
			   process.queue = 'public.q'
    	}

 		slurm {
    		process.executor = 'slurm'
    		process.clusterOptions = '--qos=medium'
    		process.cpus = '28'
  		}

}

process {

    errorStrategy = 'retry'
    maxRetries = 3


    withName:delly {
        container = 'docker://dellytools/delly:latest'
}
singularity {
    enabled = true
}

timeline {
    enabled = true
}
